[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

From: [% Param('mailfrom') %]
To: [% emailaddress %]
Subject: [% terms.Bugzilla %] 要求变更电子邮件地址
Importance: High
X-MSMail-Priority: High
X-Priority: 1
X-Bugzilla-Type: admin

[%+ terms.Bugzilla %] 收到将你的账号变更为使用 [%+ newemailaddress %] 注册的请求。

如果并非本人操作，或者你想取消此请求，请点击以下网址：

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cxlem

如果你没有任何操作，并且 [%+ newemailaddress %] 也确认了这一请求，
请变更申请将会在 [% constants.MAX_TOKEN_AGE %] 天后
([% expiration_ts FILTER time("%Y-%m-%d %H:%M %Z") %]) 永久生效。
